*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    
    font-family: 'Dancing Script', cursive;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(ENDLESS_2000x.webp)no-repeat;
    background-size: cover;
    background-position: center;

}
.navbar{
    width: 100%;
    height: 150px;
    background-color:azure;
    
}
.image{
    display: block;
    text-align: center;
    margin-left:-1200px;
    margin-top: -40px;
}
.image>img{
    width:180px ;
}
.image>h1{
    margin-left: 10px;
    margin-top: -50px;
}
nav ul{
    float: right;
    margin-right: 90px;
    margin-top: -90px;
}
nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: orangered;
    padding: 7px 13px;
    border-radius: 5px;
}
.navbar a:hover{
 
    background: #bed4e6;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
    
}
#check{
    display: none;
}
#about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
   background-color: bisque;
}
.about-content{
    margin : 30% 0px 130px -10%;
    padding: 20px;
}
.about-content>h2{
    font-weight: 400;
    margin-top: -60px;
    margin-left:250px;
    color: orangered;
}
.about-content>p{
    text-align: justify;
    margin-left: 250px;
    margin-top: 20px;
}
.about-link{
    background-color: lightsalmon;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    margin: 30px 0px;
}
.about-img>img{
    width: 70%;
    height: 350px;
    margin-right: 150px;
}
.about-link:hover{
    background-color: #bed4e6;
}
.about-img{
    margin-top:150px;
}
.menu-images{
    width: 1470px; 
    height: 700px;
    text-align: center;
    background-color: azure;
}
.last-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    height: 300px;
}
.contact-blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.contact-blog>h2{
    padding: 30px;
    margin: 20px 0px 20px 50px;
    font-size: 30px;
    font-weight: 200;
}
.icon-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 20px 0px 20px 30px;
    
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.icon i{
    font-size: 40px;
    color: black;
}
.main-seen{
    display: flex;
     justify-content:center;
     align-content: center;
     background-color: gainsboro;
     height: 200px;
     
}
.seen-content{
    
    margin-left: -900px;
    margin-top: 80px;
    margin-bottom:30px;
    position: absolute;
    
}
.seen-logo{
     display: flex;
     justify-content:center;
     align-content: center;
     background-color:gainsboro;
     height: 200px;
}
.seen{
    display: block;
    margin-top: 20px;
    margin-bottom:10px;
   
    
}
.seen>img{
    width: 150px;
    height: 100px;
}
.seen>h1{
    font-weight: 100;
    margin-top: -50px;
    color: azure;
}
.m-img{
    width: 400px; height: 300px;padding: 20px
}
.j-img{
    width: 250px; height: 300px;padding: 20px
}
.n-img{
    width: 300px; height: 300px;padding: 20px
}
.footer-image{
    text-align: center;
}
@media (max-width: 952px){
    .image{
        display: block;
        text-align: center;
        margin-left:-700px;
        margin-top: -40px;
    }
    .image>img{
        width:180px ;
    }
    .image>h1{
        margin-left: 10px;
        margin-top: -50px;
    }
    nav ul{
        margin-right:60px;
    }
    nav ul li{
        margin: 0px 5px;
    }
    nav ul li a{
        font-size: 17px;
    }
   .menu-images{
       
        width: 900px;
        height: 1000px;
       background-color: azure;
    }
    .main-seen{
        width: 890px;
        margin-right: 10px;
        display: block;
    }
    .seen-content{
    
        margin-left: 10px;
        margin-top: 80px;
        margin-bottom:30px;
        position: absolute;
        
    }
    .seen{
        margin: 10px 0px;
    }
    .last-section{
        display: block;
        height: 400px;

    }
    .contact-blog{
        display: flex;
        justify-content: space-evenly;
    }
    .footer-image{
        text-align: center;
        margin-left: 160px;
        margin-top: -100px;
    }
    .about-content{
        margin : 50% 0px 130px -10%;
        padding: 20px;
    }
}
@media (max-width: 893px){
    .image{
        display: block;
        text-align: center;
        margin-left:-500px;
        margin-top: -40px;
    }
    .image>img{
        width:180px ;
    }
    .image>h1{
        margin-left: -50px;
        margin-top: -50px;
    }
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 90vh;
        background: #2c3e50;
        top: 220px;
        left: -100%;
        text-align: center;
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        

    }
    a:hover{
        background: none;
        color: #a7c6dd;
        transition: all .5s;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .menu-images{
       
        width: 877px;
        height: 1200px;
       background-color: azure;
    }
    .main-seen{
        height: 500px;
        margin-top: -20px;
    }
    .seen-logo{
        display: block;
    }
    .about-content{
        margin-left: -150px;
        margin-top: 200px;
    }
    .last-section{
        width:877px;
        
    }
}


    